*{
	margin:0;
	padding:0;
}
/*普遍样式*/
body{
	background-color:#444;
	font-size:16px;
}
li{
	display:inline-block;
	list-style:none;
}
a{
	color:inherit;
	text-decoration:underline;
	cursor:pointer;
}
/*最外框*/
#homepage{
	width:75em;
	margin:auto;
}
/*头部*/
header{
	width:100%;
	height:3.125em;
	overflow:visible;
}
header li{
	float:left;
	height:3.125em;
	color:#aaa;
	background-color:#444;
}
header li.special{
	color:#311;
}
header li:hover{
	color:#696;
	background-color:#ccc;
}
header a{
	display:inline-block;
	margin-top:0.437em;
	padding:0 1em;
	height:2.25em;
	line-height:2.25em;
	text-align:center;
	border-left:1px dashed #ccc;
	text-decoration:none;
}
header li:first-child a{
	border-left:none;
}
/*侧边栏及文章区
aside,article{
	display:inline-block;
	padding:1.25em;
	margin-top:1.25em;
	border-radius:1.25em;
	color:#444;
	background-color:#aaa;
}
/*侧边栏
aside{
	position:absolute;
	width:20em;
	
}
aside .msg{
	width:18.75em;
	margin-top:1.25em;
	padding:0.625em;
	background-color:#bbb;
	border-radius:1em;
}
aside .msg:first-child{
	margin-top:0;
}
aside .msg .body li{
	text-indent:1em;
	display:block;
}
aside .msg .body li a{
	text-decoration:underline;
}
/*文章区
article{
	margin-left:25em;
	width:47.5em;
}
.article{
	padding:0.625em;
	margin-top:1.25em;
	border-radius:1em;
	background-color:#bbb;
}
.article:first-child{
	margin-top:0;
}

.article-head{
	height:1.875em;
	line-height:1.875em;
}
.article-head h4{
	display:inline;
	text-decoration:underline;
}
.article-head h4:hover{
	text-decoration:none;
}
.article-head time{
	margin-left:1.25em;
	font-size:0.625em;
	color:#777;
}
.article-head a.button{
	display:inline-block;
	float:right;
	width:3.125em;
	height:1.875em;
	line-height:1.875em;
	text-align:center;
	border-radius:1em;
	color:#ccc;
	background-color:#444;
}
.article-head a.button:hover{
	color:#ffe;
	background-color:#696;
}
.article-tip{
	font-size:0.75em;
}
.article-tip span{
	margin:0 0.625em 0 1.25em;
	color:#777;
}
.article-tip a{
	margin-right:0.625em;
	color:#444;
}
.article-tip a:hover{
	text-decoration:underline;
}
.article-summary{
	margin:0.625em 0;
	padding:0.625em;
	height:6em;
	overflow:hidden;
	border-radius:0.625em;
	background-color:#ccc;
}
.article-summary p{
	text-indent:2em;
	color:#314d26;
}
.article-all{
	text-decoration:underline;
}
.article-all:hover{
	text-decoration:none;
}


*/

/*底部
footer{
	position:relative;
	width:100%;
	height:5em;
	margin-top:1.25em;
	background-color:#aaa;
	border-radius:1.25em 1.25em 0 0;
}
footer .trick{
	position:absolute;
	background-color:#696;
	border-radius:1.25em 1.25em 0 0;
}
*/







