*{
	margin:0;
	padding:0;
}

table{
	margin: auto;
	border-collapse: collapse;
}

td{
	width: 9em;
	height: 3em;
	line-height: 3em;
	border: 1px solid #777;
	text-align: left;
}
td.special-character{
	width: 4.5em;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 2em;
}
td.odd-data{
	color: #c78;
}








